<div class="container_big-card">
    <div class="big-card_pic">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/768px-Angular_full_color_logo.svg.png" alt="" height="200px">
    </div>
    
    <div class="big-card_title">
        <h1><a href="https://angular.io/">New Angular is here!</a></h1>
    </div>

    <div class="big-card-description">
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus aliquid, dignissimos quidem maxime voluptas rem vel iste ratione beatae, nulla repellendus ipsum repudiandae quod provident animi asperiores. Aut, laboriosam sequi!</p>
   </div>
    
</div>